.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

.env
.venv
.envs
.conda

*.pyc
__pycache__/
db.sqlite3
db.sqlite3
sqlite3
*.sqlite3-journal

local_settings.py
core/local.py

media/
mediafiles/

*.log
logs/

node_modules/
dist/
dist-ssr/
build/
.out/

.vite/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.local
*.tmp
*.temp
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/


check-system.sh
.vercel

.for-me/